<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bite Mate</title>
    <link rel="stylesheet" href="../static/css/Order.css" type="text/css"/>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
  </head>
  <body>
  <!--Header-->

    <header class="primary-header">
      <div class="container">
        <div class="nav-wrapper">
          <button class="button1">
            <span>BITE MATE</span>
          </button>
          <table style="width: 450px;">
            <tr>
              <td><a href="#">Home</a></td>
              <td><a href="#">Restaurants</a></td>
              <td><a href="#search">Search</a></td>
              <td><a href="#about">About</a></td>
              <td><a href="#contact">Contact</a></td>
              <td><a href="#">Profile</a></td>
            </tr>
            <tr>
              <td><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
                <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
              </svg></a></td>
              <td><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
              </svg></a></td>
              <td><a href="#search"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg></a></td>
              <td><a href="#about"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-person-fill" viewBox="0 0 16 16">
                <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z"/>
              </svg></a></td>
              <td><a href="#contact"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
              </svg></a></td>
              <td><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg></a></td>
            </tr>
          </table>
          <form action="#" method="get">
            <span class=""><input
              class="form-header"
              id="search"
              type="text"
              name="search"
              placeholder="Search"
            /></span>
            <button class="button" type="submit">Search</button>
          </form>
        </div>
      </div>
    </header>

  <!--main body-->
    <main>
        <h1 align = "center">Welcome to Our Restaurant!</h1>

        <section id="restaurant-info">
          <h2 align = "center">About Us</h2>
          <center>
          <p>Welcome to our restaurant! We offer a wide variety of delicious Indian dishes. Browse our menu and place your order.</p></center>
        </section>
      
        <section id="menu">
          <h1 style="color: rgb(22, 3, 67);">Menu</h2>
            <form action="/checkout">
          <div class="food-item">
              <p align="right">
            <img src="butter-chicken.jpg" alt="Butter Chicken" ></p>
            <h3>Butter Chicken</h3>
            <p>₹300</p>
            <button onclick="addToCart('Butter Chicken', 300)" class = "button3">Add to Cart</button>
          </div>
          <div class="food-item">
              <p align = "right">
            <img src="tandoori-chicken.jpg" alt="Tandoori Chicken" ></p>
            <h3>Tandoori Chicken</h3>
            <p>₹350</p>
            <button onclick="addToCart('Tandoori Chicken', 350)" class = "button3">Add to Cart</button>
          </div>
          <div class="food-item">
              <p align = "right">
            <img src="paneer-tikka.jpg" alt="Paneer Tikka" ></p>
            <h3>Paneer Tikka</h3>
            <p>₹250</p>
            <button onclick="addToCart('Paneer Tikka', 250)" class = "button3">Add to Cart</button>
          </div>
          <div class="food-item">
              <p align = "right">
            <img src="chicken-biryani.jpg" alt="Chicken Biryani" ></p>
            <h3>Chicken Biryani</h3>
            <p>₹400</p>
            <button onclick="addToCart('Chicken Biryani', 400)" class = "button3">Add to Cart</button>
          </div>
          <div class="food-item">
              <p align = "right">
            <img src="palak-paneer.jpg" alt="Palak Paneer" > </p>
            <h3>Palak Paneer</h3>
            <p>₹280</p>
            <button onclick="addToCart('Palak Paneer', 280)" class = "button3">Add to Cart</button>
          </div>
          <div class="food-item">
              <p align = "right">
            <img src="chole-bhature.jpg" alt="Chole Bhature" ></p>
            <h3>Chole Bhature</h3>
            <p>₹200</p>
            <button onclick="addToCart('Chole Bhature', 200)" class = "button3">Add to Cart</button>
          </div>
          <div class="food-item">
              <p align = "right">
            <img src="mutton-rogan-josh.jpg" alt="Mutton Rogan Josh" ></p>
            <h3>Mutton Rogan Josh</h3>
            <p>₹450</p>
            <button onclick="addToCart('Mutton Rogan Josh', 450)" class = "button3">Add to Cart</button>
          </div>
          <div class="food-item">
              <p align = "right">
            <img src="dosa.jpg" alt="Dosa" > </p>
            <h3>Dosa</h3>
            <p>₹150</p>
            <button onclick="addToCart('Dosa', 150)" class = "button3">Add to Cart</button>
          </div>
          <div class="food-item">
              <p align = "right">
            <img src="chicken-tikka-masala.jpg" alt="Chicken Tikka Masala" > </p>
            <h3>Chicken Tikka Masala</h3>
            <p>₹320</p>
            <button onclick="addToCart('Chicken Tikka Masala', 320)" class = "button3">Add to Cart</button>
          </div>
          <div class="food-item">
              <p align = "right">
            <img src="veg-biryani.jpg" alt="Veg Biryani" > </p>
            <h3>Veg Biryani</h3>
            <p>₹350</p>
            <button onclick="addToCart('Veg Biryani', 350)" class = "button3">Add to Cart</button>
          </div>
          <div class="food-item">
              <p align = "right">
            <img src="naan.jpg" alt="Naan" > </p>
            <h3>Naan</h3>
            <p>₹50</p>
            <button onclick="addToCart('Naan', 50)" class = "button3">Add to Cart</button>
          </div>
          <div class="food-item">
              <p align = "right">
            <img src="rajma-chawal.jpg" alt="Rajma Chawal" ></p>
            <h3>Rajma Chawal</h3>
            <p>₹220</p>
            <button onclick="addToCart('Rajma Chawal', 220)" class = "button3">Add to Cart</button>
          </div>
          <div class="food-item">
              <p align = "right">
            <img src="gulab-jamun.jpg" alt="Gulab Jamun" > </p>
            <h3>Gulab Jamun</h3>
            <p>₹120</p>
            <button onclick="addToCart('Gulab Jamun', 120)" class = "button3">Add to Cart</button>
          </div>
          <div class="food-item">
              <p align = "right">
            <img src="samosa.jpg" alt="Samosa" > </p>
            <h3>Samosa</h3>
            <p>₹80</p>
            <button onclick="addToCart('Samosa', 80)" class = "button3">Add to Cart</button>
          </div>
          <div class="food-item">
              <p align = "right">
            <img src="masala-dosa.jpg" alt="Masala Dosa" > </p>
            <h3>Masala Dosa</h3>
            <p>₹180</p>
            <button onclick="addToCart('Masala Dosa', 180)" class = "button3">Add to Cart</button>
          </div>

        </section>
      
    
        <section id="cart">
          <h2>Your Cart</h2>
          <ul id="cart-items"></ul>
          <p id="total-price">Total: ₹0.00</p>
          <button onclick="checkout()">Checkout</button>
        </section> </form>
    </main>
    <footer
      class="primary-footer padding-block-700 bg-neutral-900 text-neutral-100"
    >
      <div class="container">
        <div class="primary-footer-wrapper even-columns">
          <div class="primary-footer-logo-social">
            <a class="logo-footer" href="#" aria-label="home"> Bite Mate </a>
            <ul class="social-list" role="list" id = "about" aria-label="social links">
              <li>
                <a aria-label="facebook" href="#">
                  <svg class="social-icon">
                    <use
                      xlink:href="images/social-icons.svg#icon-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
              <li>
                <a aria-label="youtube" href="#">
                  <svg class="social-icon">
                    <use
                      xlink:href="images/social-icons.svg#icon-youtube"
                    ></use>
                  </svg>
                </a>
              </li>
              <li>
                <a aria-label="twitter" href="#"
                  ><svg class="social-icon">
                    <use
                      xlink:href="images/social-icons.svg#icon-twitter"
                    ></use></svg>
                </a>
              </li>
              <li>
                <a aria-label="pinterest" href="#">
                  <svg class="social-icon">
                    <use
                      xlink:href="images/social-icons.svg#icon-pinterest"
                    ></use>
                  </svg>
                </a>
              </li>
              <li>
                <a aria-label="instagram" href="#">
                  <svg class="social-icon">
                    <use
                      xlink:href="images/social-icons.svg#icon-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <div class="primary-footer-nav">
            <nav class="footer-nav">
              <ul
                class="flow"
                style="--flow-spacer: 1em"
                role="list"
                aria-label="footer"
              >
                <li><a href="#">Home</a></li>
                <li><a href="#">Restaurants</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Profile</a></li>
              </ul>
            </nav>
          </div>
          <div class="primary-footer-form">
            <form action="">
              <input id = "contact" class="form-header" type="email" placeholder="Email" />
              <button class="button">Go</button>
            </form>
            <p>Copyright 2023. All rights reserved</p>
          </div>
        </div>
      </div>

<!--Footer-->
    </footer>
    <script>
        let cartItems = [];
let totalPrice = 0;

function addToCart(name, price) {
  cartItems.push({ name, price });
  totalPrice += price;
  updateCart();
}

function removeFromCart(index) {
  const item = cartItems[index];
  totalPrice -= item.price;
  cartItems.splice(index, 1);
  updateCart();
}

function updateCart() {
  const cartElement = document.getElementById('cart-items');
  const totalElement = document.getElementById('total-price');
  cartElement.innerHTML = '';
  cartItems.forEach((item, index) => {
    const listItem = document.createElement('li');
    listItem.innerText = `${item.name} - ₹${item.price}`;
    const removeButton = document.createElement('button');
    removeButton.innerText = 'Remove';
    removeButton.addEventListener('click', () => {
      removeFromCart(index);
    });
    listItem.appendChild(removeButton);
    cartElement.appendChild(listItem);
  });
  totalElement.innerText = `Total: ₹${totalPrice.toFixed(2)}`;
  const checkoutButton = document.querySelector('#cart button');
  if (cartItems.length > 0) {
    checkoutButton.disabled = false;
  } else {
    checkoutButton.disabled = true;
  }
}

function checkout() {
  // Perform the checkout process
  alert('Thank you for your order!');
  cartItems = [];
  totalPrice = 0;
  updateCart();
}


    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
  </body>
</html>
