<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN UP</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/register.css" type="text/css">
</head>
<body>
    <div class="container">
        <center>
            <form class="form" action="/logedin_practicum2.html" method="post">
                <p class="title">Register </p>
                <p class="message">Signup now and get full access to our app. </p>
                    <div class="flex">
                    <label>
                        <input required placeholder="NAME" type="text" class="input" name="input_name">
                        <span>Firstname</span>
                    </label>
            
                    <label>
                        <input required placeholder="" type="text" class="input" name="input_Lname">
                        <span>Lastname</span>
                    </label>
                </div>  
                        
                <label>
                    <input required placeholder="example@gmail.com" type="email" class="input" name="input_mail">
                    <span>Email</span>
                </label> 
                    
                <label>
                    <input required placeholder="********" type="password" class="input" name="input_password">
                    <span>Password</span>
                </label>
                <label>
                    <input required placeholder="********" type="password" class="input" name="input_Cpassword">
                    <span>Confirm password</span>
                </label>
                <button class="submit">Submit</button>
                <p class="signin">Already have an acount ? <a href="./login.html">Signin</a> </p>
            </form>
        </center>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
</body>
</html>